
<div class="sidenav">
            <h2>Bingr.</h2>
            <h3>your path to binging.</h3>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <div class="form-group">
                  <h1 align="center">LOGIN</h1>
                  <%= form_for(:session, url: login_path) do |f| %>
                     <%= f.label :USERNAME %>
                     <%= f.text_field :username, class: "form-control", placeholder: "ENTER USERNAME", autofocus: true %>
                     <%= f.label :password %>
                     <%= f.password_field :password, class: "form-control", placeholder: "ENTER PASSWORD", autocomplete: "off" %>
                     <button class="button1" type="submit" >Login</button>
                     
                     <a href="<%= new_user_path %>"><button class= "button2"  >Create Account</button></a>
                  <%end %>
             </div>
         </div>
      </div>
 </div>

