
<h1 class="showhead"><%= @show.title %> - <%= @show.genre %></h1>

</br>
<img src="<%= @show.image %>" id="leftImage">

</br>
<div id="rightText">
<h3 id="showText"><%= @show.title %> --- <%= @show.genre %></h3>


<h4 id="showText">Episode Count: <%= @show.episode_count %></h4>

<p id="showText"><%=  strip_tags(@show.desc) %></p>

<% @user = User.find(session[:user_id]) %>
<% @fav = @user.favorites.find_by(show_id: @show.id)  %>
<% if @fav %>
   <a style="text-decoration : none"  href="<%= delete_fav_path(@show) %>"><button class="button1">Remove Show from Favorites</button></a> </h1>
<% else %>
    <a style="text-decoration : none"  href="<%= add_path(@show) %>"><button class="button1">Add To Favorites</button></a> </h1>
<% end %>
<br>
<a style="text-decoration : none"  href="<%= shows_path %>"><button class="button2">All shows</button></a> </h1>
